https://codeload.github.com/KurimuzonAkuma/pyrogram/zip/refs/heads/dev
pyrofork==2.3.38
TgCrypto
pyromod
humanize
schedule
APscheduler
pymongo
motor
dnspython
aiohttp
python-dotenv
pytz
requests
bs4
shortzy
aiofiles
asyncio
telegraph
youtube-search-python
yt-dlp
aiogram
youtube-search