https://codeload.github.com/KurimuzonAkuma/pyrogram/zip/refs/heads/dev
pyrofork>=2.3.38
TgCrypto
pyromod
humanize>=4.9.0
schedule
APscheduler
pymongo
motor
dnspython
aiohttp
python-dotenv
pytz
requests
bs4
shortzy
aiofiles
asyncio
telegraph
youtube-search-python
yt-dlp
aiogram>=3.0.0
youtube-search
aiosqlite
cachetools>=5.3.2
Pillow
traceback-with-variables==2.0.4
pytz
