# Core requirements
https://codeload.github.com/KurimuzonAkuma/pyrogram/zip/refs/heads/dev
pyrofork>=2.3.38
TgCrypto
pyromod>=3.1.6

# Database
pymongo>=4.11.1
motor>=3.7.0
dnspython>=2.7.0

# Web and API
aiohttp>=3.11.12
python-dotenv>=1.0.1
requests>=2.32.3

# Time and scheduling
pytz>=2025.1
APScheduler>=3.11.0
schedule>=1.2.2
humanize>=4.11.0

# File handling
aiofiles>=24.1.0
Pillow>=11.1.0

# Utilities
cachetools>=5.5.1
shortzy>=0.0.8
telegraph>=2.2.0
bs4>=0.0.2

# Media handling
youtube-search-python>=1.6.6
youtube-search>=2.1.2
yt-dlp>=2025.1.26

# Additional requirements
aiogram>=3.17.0
aiosqlite>=0.21.0
asyncio>=3.4.3